* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.background-image {
    background-image: url("image.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 80px; */
    max-width: 1500px;
}

.main-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 42px;
}

.name {
    color: brown;
}

.second-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 36px;
}

.menu {
    /* max-width: 1500px; */
    height: 50px;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}

.menu-items {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    align-items: center;
    height: 100%;
}


.row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid black;
}

.article-title {
    height: 30px;
text-align: center;
}

.article-image {
    height: 150px;
    width: auto;
    margin-bottom: 10px;
}

.motto-title {
    margin: 10px 0;
    font-weight: bold;
    color: black;
}

.motto {
    color: brown;
}

.mid {
    flex-basis: 33%;
}

.button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin: 1em;
}
.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-85:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* CSS */
.button-89 {
    --b: 3px;
    /* border thickness */
    --s: .45em;
    /* size of the corner */
    --color: #373B44;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.button-89:active {
    background: var(--color);
    color: #fff;
}